.chatItem {
    min-width: 200px;
    min-height: 40px;
}
.chatItem:hover {
    background-color: dodgerblue;
}
.chatItem__link {
    display:block;
    color: blue;
    text-decoration: none;
    padding: 10px;
}
.chatItem__link.active {
    color: white;
    background-color: dodgerblue;
}
