.messagesField {
    display: grid;
    grid-template-rows: 1fr 80px;
    height: 100%;
    background-color: dodgerblue;
}

.messagesField__messages {
    padding: 10px;
}

.messagesField__newMessage {
    padding: 10px;
    align-self: end;
}
